.hero-card{
	/*width:1300px;*/
	margin: 50px auto;
	background: bisque;
	width: 80vw;
  
  }
  .hero-card-image{
	height:300px;
	object-fit: cover;
  }
  .hero-card-content{
	padding-top: 20px;
	height:100px;
	overflow: hidden;
  }
  .hero-div{
	/*display: flex;*/
	justify-content:center;
	align-items: center;
	margin: 0 auto;
  }
  
  h1{
	/*display:flex;*/
	/*margin-left:500px;*/
	margin-top: 20px;
	font-size:xx-large;
	text-align: center;
  }
  
  